/*********************************************************
|
|  Global styles
|
**********************************************************/

body {
  padding-top: 90px;
  font-family: "brandon-grotesque",sans-serif;
  color: #777;
  font-weight: 300;
	background: #fff;
	font-size: 17px;
}
.btn-primary,
form.comment-form input#submit {
  background: linear-gradient(to bottom, #83cbb4, #55b8b8);
  border-color: #55b7b8;
  color: white !important;
}
.btn-primary:hover,
form.comment-form input#submit {
  background: #83cbb4;
  border-color: #55b7b8;
}
form.comment-form input#submit {
  border: 1px solid #55b7b8;
  border-radius: 4px;
  font-weight: normal;
}
.btn-default {
  background-color: white;
  border-color: #55b7b8;
  color: #55b7b8;
}
.btn-default:hover,
.btn-default:focus {
	background-color: #55b7b8;
	border-color: #55b7b8;
	color:white;
}
.btn-transparent {
  background: none;
  border-color: white;
  color: white;
}
.btn-green {
  background: #55b8b8;
  border-color: #55b8b8;
  color: white;
}
.label-btn {
  font-size: 13px;
	line-height: 1.42857143;
  font-weight: normal;
  border-radius: 45px;
  margin-right: 10px;
	padding: 5px 15px 7px;
}
.btn-upvote {
  margin-right: 8px;
  padding: 1px 8px;
  border: 1px solid #e41e47;
  color: #e41e47;
  border-radius: 25px;
  font-weight: normal;
}
.btn-upvote:hover,
.btn-upvote.upvoted {
  background-color: #e41e47;
  color: white;
}
.btn-upvote:hover {
  cursor: pointer;
  opacity: 0.85;
}
.btn-comment {
  padding: 1px 8px;
  border: 1px solid #cc4bfc;
  color: #cc4bfc;
  border-radius: 25px;
  font-weight: normal;
}
.btn-comment:hover {
  cursor: pointer;
  opacity: 0.85;
  background-color: #cc4bfc;
  color: white;
}
.btn-upvote .fa {
  
}
h1 {
  font-family: "brandon-grotesque",sans-serif;
  color: #2a404d;
  font-weight: bold;
  font-size: 28px;
}
h2, h3, h4 {
  font-family: "brandon-grotesque",sans-serif;
  color: #333;
}
h5 {
  font-size: 20px;
}
p {
	font-size:17px;
	font-weight:300;
}
a {
  color: #55b7b8;
}
.form-horizontal .control-label {
	text-align: left;
}
form.upvote {
	display: inline-block;
}
.form-group {
  margin-bottom: 30px;
}

.form-control,
input[type=text],
input[type=password] {
  border: 2px solid #55b7b8;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #F8F8F8;
  letter-spacing: 2px;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-image: none;
}
.has-error .form-control,
.has-error input[type=text],
.has-error input[type=password] {
  border-color: #a94442;
}
form.comment-form textarea {
  border-color: #ccc;
}
#splash .mc4wp-form .form-control {
  height: 50px;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
  color: #999;
  -webkit-text-fill-color: #999 !important;
}
.mc4wp-form input::placeholder {
  color: white;
}
#splash .mc4wp-form .btn {
  height: 50px;
  line-height: 50px;
  padding: 0;
  font-weight: 600;
}
#splash .mc4wp-form .btn:hover {
  background: transparent;
  color: #2a404d;
}
#splash .mc4wp-form .col {
  padding-left: 8px;
  padding-right: 8px;
}
.thumbnail .caption {
  color: #777;
}
.label-danger {
  background-color: rgba(227, 30, 70, 0.7);
}
.label-pink {
  background-color: rgba(203, 75, 252, 0.7);
}
span.wpcf7-not-valid-tip {
  color: #c9302c;
  font-size: 14px;
}
div.wpcf7-validation-errors {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
div.wpcf7-mail-sent-ok {
  border: 1px solid #395561;
  background: #395561;
  color: white;
  border-radius: 4px;
}
div.wpcf7-mail-sent-ng {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #ebccd1;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
}
ul.collapsible {
  margin-bottom: 40px;
}
ul.collapsible ul {
  display: none;
  padding-left: 20px;
  margin-bottom: 0;
}
ul.collapsible a:hover {
  text-decoration: none;
}
ul.collapsible ul a:hover {
  color: #55b7b8;
}
ul.collapsible a {
  color: #777;
  padding: 5px 15px;
  display: inline-block;
}
ul.collapsible > li:hover > a,
ul.collapsible .active-parent > a,
ul.collapsible > .active > a {
  background: #e4e4e4;
  border-radius: 50px;
}
ul.collapsible .active-parent ul,
ul.collapsible li:hover ul {
  display: block;
}
ul.collapsible ul .active a {
  color: #55b7b8;
}
ul.collapsible .fa {
  font-size: 12px;
  margin-left: 5px;
}
ul.collapsible .fa.down {
  display: none;
}
ul.collapsible li:hover .fa.down,
ul.collapsible .active-parent .fa.down {
  display: inline-block;
}
ul.collapsible li:hover .fa.right,
ul.collapsible .active-parent .fa.right {
  display: none;
}
.text-two-lines p {
  overflow: hidden;
  position: relative;
  line-height: 1.6em;
  max-height: 3.2em;
  margin-right: -1em;
  padding-right: 1em;
  text-overflow: ellipsis;
}
.dotdotdot-wrap {
  max-height: 44px;
  overflow: hidden;
}/*
.text-two-lines:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}*/
.text-danger {
  color: #f05376;
}
.text-primary {
  color: #44bae2;
}
.text-info {
  color: #d354fc;
}
.text-success {
  color: #55b7b8;
}
.text-white {
  color: white;
}
.text-navy {
  color: #2a414d;
}
.pagination>li>a, 
.pagination>li>span {
  color: #55b7b8;
}
.pagination>li>.current {
  z-index: 2;
  color: #333;
  background-color: #eee;
  border-color: #ddd;
}
.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>li>span:focus, 
.pagination>li>span:hover {
  color: #333;
}
.well {
  background-color: white;
}
.well .form-control {
  background-color: white;
}
.modal-header {
  border-bottom: none;
  padding-top: 50px;
}
.modal-footer {
  border-top: none;
  padding-bottom: 50px;
  text-align: center;
}
.modal-body {
  padding-left: 50px;
  padding-right: 50px;
}
#doorbell-background {
  background: #333;
}
a.templates.product#button-comment {
  display: inline-block;
}
a.templates.product#button-comment:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  #videoModal .modal-dialog {
    width: 460px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 35px !important;
    font-weight:normal;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  h1 {
    font-size: 40px !important;
    font-weight:normal;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 50px;
    font-weight:normal;
  }
}


/*********************************************************
|
|  Header
|
**********************************************************/

/*.navbar {
  border: none;
  box-shadow: 0 0 transparent,0px 0px 4px 0px #777, 0 0 transparent, 0 0 transparent;
  margin-bottom: 0;
  padding: 10px 0;
}
.navbar-default {
  background-color: white;
}
.navbar-header {
  z-index: 1;
}
.navbar>.container-fluid .navbar-brand {
  margin-left: 0;
}
.navbar-brand {
  height: 50px;
  padding: 0;
}
.home .navbar-brand {
  padding: 5px;
}
.navbar-brand img {
  height: 100%;
}
.navbar-center {
  position: absolute;
  left: 40%;
  top: 20px;  
  margin: auto;
  height: 100%;
  display: inline-block;
}
.navbar-collapse {
  text-align: center;
}
li .navbar-btn {
  margin-left: 15px;
  font-weight: 300;
}
.navbar-default .navbar-nav>li>a.btn-default {
  color: #55b7b8;
}
.navbar-default .navbar-nav>li>a.btn-default:hover {
  color: white;
}
.btn,
form.comment-form input#submit {
  padding: 6px 30px;
}
.navbar-nav>li>a {
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-default .navbar-nav>li>a.avatar {
  margin-top: 9px;
  margin-bottom: 8px;
  padding: 0;
}
.navbar-default .navbar-nav>li>a.avatar>img {
  max-height: 33px;
  border-radius: 5px;
}
.navbar-nav>li>a.btn {
  padding: 6px 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-nav>li>a>.fa {
  font-size: 20px;
}
.navbar-default .navbar-nav>li>a.btn-primary {
  color: white;
}
.navbar-default .navbar-nav>li>a.btn:focus, 
.navbar-default .navbar-nav>li>a.btn:hover,
.btn-primary:hover, 
.btn-primary:focus {
  background-color: #55b7b8;
  border-color: #55b7b8;
}*/

/*********************************************************
|
|  Footer
|
**********************************************************/

footer#footer {
  margin-top: 75px;
}
body.home footer#footer,
body.page-template-template-about footer#footer,
body.page-template-template-how_it_works footer#footer,
body.blog footer#footer,
body.single-format-standard footer#footer,
body.error404 footer#footer,
body.page-template-template-press footer#footer {
  margin-top: 0;
}

footer#footer h4 {
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 25px 0;
}
footer#footer h3 {
  color: white;
}
footer#footer img {
  margin-top: 15px;
}
footer#footer .links {
  background: #395561;
  padding: 75px 0;
  margin: 0;
}
footer#footer .links a {
  letter-spacing: 2px;
	font-size: 15px;
}
footer#footer .links a:hover {
  color: white;
  text-decoration: none;
}
footer#footer .links ul {
  padding: 0;
}
footer#footer .links li {
  margin-bottom: 10px;
  list-style: none;
}
footer#footer .copyright {
  background: #1b2d37;
  padding: 25px 0;
  color: #648391;
  font-size: 12px;
}

/*********************************************************
|
|  front-page.php
|
**********************************************************/

#front-page section {
  padding: 100px 0;
  font-size: 16px;
}
#front-page section#splash {
  font-size: 18px;
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#55b8b8+0,89d0bb+100 */
  background: #55b8b8; /* Old browsers */
  background: -moz-linear-gradient(left,  #55b8b8 0%, #89d0bb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #55b8b8 0%,#89d0bb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #55b8b8 0%,#89d0bb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55b8b8', endColorstr='#89d0bb',GradientType=1 ); /* IE6-9 */
}
#front-page section#splash h1 {
  margin-bottom: 40px;
}
#front-page section#splash p {
  margin-bottom: 40px;
}
#front-page section#splash a {
  display: inline-block;
  margin-right: 20px;
}
#front-page section#splash p.passcode {
  padding-left: 50px;
}
#front-page section#splash .btn {
  margin-bottom: 20px;
  padding: 14px 25px;
  border-radius: 80px;
}
section#brands {
  background: #f5f5f5;
  color: #c1c1c1;
  padding: 20px 0 0 0;
}
#brands p:first-child {
  margin-bottom: 15px;
  letter-spacing: 4px;
}
section#brands img {
  margin-right: 10px;
  margin-bottom: 15px;
  max-height: 35px;
  width: auto;
}
section#brands img:last-child {
  margin-right: 0;
}
#front-page section#how h2 {
  margin-bottom: 25px;
}
#front-page section#how h4 {
  margin: 35px 0 25px 0;
}
#front-page section#how .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
#front-page section#how .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#front-page section#how p.lead {
  margin-bottom: 50px;
  font-size: 16px;
}
#front-page section#how p {
  margin-bottom: 30px;
}
#front-page section#quote {
  padding: 200px 0;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-image: url('../images/quote-bg.jpg');
  background-size: cover;
  background-position: center center;
}
#front-page section#story h2 {
  margin-bottom: 75px;
  text-align: center;
}
#front-page section#story blockquote {
  padding: 20px 0;
  margin: 20px 0;
  font-size: 20px;
  border: 2px solid #ccc;
  border-left: none;
  border-right: none;
  color: #333;
}
#front-page section#story img {
  border-radius: 5px;
}
#front-page section#video h2,
section.page-video h2 {
  color: white;
  font-weight: normal;
  margin-bottom: 30px;
}
#front-page section#video h3,
section.page-video h3{
  color: white;
}
#front-page section#video,
section.page-video {
  padding: 150px 0;
  background-image: url('../images/video-bg.jpg');
  background-size: cover;
}
#videoModal iframe {
  width: 100%;
  height: auto;
}
#front-page section#contact form {
  margin-top: 75px;
}

@media (min-width: 933px) {
  #front-page section#splash a {
    display: inline;
  }
  #front-page section#splash p.passcode {
    text-align: left; 
    padding-left: 250px;
  }
}

@media (min-width: 992px) {
  #front-page section#splash {
    padding: 150px 0;
  }
  section#brands img {
    margin-right: 50px;
  }
  #front-page section#video h2,
  section.page-video h2 {
    font-size: 50px;
  }
  #front-page #videoModal .modal-body,
  .page-video #videoModal .modal-body {
    padding: 0;
  }
  #front-page #videoModal .modal-dialog,
  .page-video #videoModal .modal-dialog {
    width: 800px;
  }
  #videoModal iframe {
    height: 450px;
    display: block;
  }
}

/*********************************************************
|
|  header.php || NEW navigation
|
**********************************************************/
header.header {margin-top: -70px;}
header.header nav.navbar-default {background-color: transparent;}
header.header nav.navbar {border: none;box-shadow: none;padding: 20px 0;}
header.header .navbar-brand img {padding: 4px 0;}
header.header a.btn.btn-default.btn-nav-inverse {text-transform: uppercase;padding: 10px 20px;color:#fff;font-weight:bold;background-color: transparent;border-color: transparent;}
header.header a.btn.btn-default.btn-nav-inverse:hover,
header.header a.btn.btn-default.btn-nav-inverse:focus {color:#83cbb4;}
header.header a.btn.btn-default.btn-nav {color:#83cbb4;border-color:#83cbb4;padding: 10px 20px;font-weight:bold;background-color: transparent;}
header.header a.btn.btn-default.btn-nav:hover,
header.header a.btn.btn-default.btn-nav:focus {border-color:#fff;color:#fff;}
header.header .dropdown a.dropdown-toggle {color:#fff;}
header.header .navbar-nav>li>a>.fa {font-size:12px;margin:0 5px;}
header.header .nav>li>a {padding: 18px 0px;}
header.header .navbar-default .navbar-nav>.open>a, 
header.header .navbar-default .navbar-nav>.open>a:focus, 
header.header .navbar-default .navbar-nav>.open>a:hover {color: #fff;background-color: transparent;}
header.header .dropdown-menu {background-color: #83cbb4;}
header.header .dropdown-menu>li>a {color:#fff;font-size: 17px;}
header.header .dropdown ul.dropdown-menu {border-radius:8px;box-shadow:none;margin-top:4px;}
header.header .dropdown ul.dropdown-menu:before {content: "";border-bottom: 10px solid #83cbb4;border-right: 10px solid transparent;border-left: 10px solid transparent;position: absolute;top: -10px;right: 16px;z-index: 10;}
header.header .dropdown ul.dropdown-menu:after {content: "";border-bottom: 12px solid transparent;border-right: 12px solid transparent;border-left: 12px solid transparent;position: absolute;top: -12px;right: 14px;z-index: 9;}
header.header .dropdown-menu>li>a:hover,
header.header .dropdown-menu>li>a:focus {background-color:transparent;color:#333;}
header.header .dropdown-menu>.active>a, 
header.header .dropdown-menu>.active>a:focus, 
header.header.dropdown-menu>.active>a:hover {color: #333;background-color: transparent;}

@media (max-width: 780px) {
	header.header {background-color:#395561;}
	header.header .navbar-brand,
	.navbar-bata .navbar-brand {margin-left:25px;}
	header.header .navbar-default .navbar-toggle .icon-bar,
	.navbar-bata.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
	header.header .navbar-default .navbar-toggle,
	.navbar-bata.navbar-default .navbar-toggle {border-color: #83cbb4;}
	header.header .navbar-toggle,
	.navbar-bata .navbar-toggle {background-image: linear-gradient(53deg, #83cbb4, #55b8b8);}
	.navbar-bata .navbar-collapse {border-color: transparent;}
	header.header .navbar-collapse.collapse.in {background-color:#395561;}
	header.header .navbar-default .navbar-collapse, 
	header.header .navbar-default .navbar-form {border-top:none;box-shadow: none;}
	header.header a.btn.btn-default.btn-nav-inverse {border-color:#fff;}
	header.header a.btn.btn-default.btn-nav-inverse:hover,
	header.header a.btn.btn-default.btn-nav-inverse:focus {border-color:#83cbb4;}
	header.header .dropdown ul.dropdown-menu:before {display:none;}
	header.header .navbar-default .navbar-nav .open .dropdown-menu>li>a {color: #fff;}
	header.header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
	header.header .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {color:#333;}
	header.header .navbar-nav {margin-top: 15px;}
}

/*
Stick Header
Float Panel: class="float-panel fixed"
*/
header.header nav.navbar.fixed {box-shadow:0 2px 6px rgba(0,0,0,0.2);animation:slide-down 0.7s;opacity:0.9;right: 0;left: 0;background-color:#395561;z-index:1030;border-radius: 0;}                  
header.header nav.navbar.fixed .fa-gg {transform: rotate(360deg);}
@keyframes slide-down {
	0% {opacity: 0;transform: translateY(-100%);} 
	100% {opacity: 0.9;transform: translateY(0);} 
}

/* adding header BG color to white BG page */
body.about header.header nav.navbar-default,
body.how-it-works .header.header nav.navbar-default,
body.blog header.header nav.navbar-default,
body.contact header.header nav.navbar-default,
body.privacy header.header nav.navbar-default,
body.terms header.header nav.navbar-default,
body.home header.header nav.navbar-default,
body.single header.header nav.navbar-default,
body.error404 header.header nav.navbar-default {background-color: #395561;opacity: 0.9;border-radius: 0;}

/*********************************************************
|
|  template-homepage.php
|
**********************************************************/

.btn.btn-badge {position:relative;}
.btn.btn-badge .badge {position: absolute;top: 42px;right: 64px;}
.btn-default.btn-badge .badge {color: #fff;background-color: transparent;font-weight: 300;}
#homepage .btn.btn-default.btn-cta {background-image: linear-gradient(76deg, #83cbb4, #55b8b8);color: white;text-transform: uppercase;border-radius: 5px;background-color: #55b8b8;border-color: #55b8b8;font-weight: 400;letter-spacing: 1px;}
#homepage .btn.btn-default.btn-cta:hover,
#homepage .btn.btn-default.btn-cta:focus {background-image:none;background-color: #55b8b8;}
#homepage .btn.btn-default.btn-cta.btn-lg {padding: 15px 30px;}
#homepage section#splash {background-size:cover;margin-top:-98px;}
#homepage section#splash {height: 585px;padding-top: 200px;}
#homepage section#splash h1 {font-size:50px;font-weight: 300;color:#fff;margin-bottom:20px;}
#homepage section#splash p.lead {color:#83cbb4;letter-spacing: 2.5px;font-weight: 400;font-size:30px;margin-bottom:30px;}
#homepage section#cta-bar {background-image: linear-gradient(to left, #55b8b8, #83cbb4);padding:30px 0;color:#fff;}
#homepage section#cta-bar p {font-size: 18px;margin-bottom:0;}
#homepage section#cta-bar .btn {margin-top:10px;margin-bottom:10px;}
#homepage section#brands {background: #fff;padding: 100px 0;overflow: hidden;}
#homepage section.page-video h2 {font-weight: normal;}
#homepage section#contact {padding: 100px 0;}
#homepage section#contact form {margin-top:100px;}
#homepage section#brands .featured_brand {margin-top:30px;}
#homepage section#brands .scroll_pane .brand {height: 400px;width: 256px;position: relative;text-align: center;display: inline-block;margin: 0 30px 30px 0;white-space: normal;vertical-align: top;}
#homepage section#brands .scroll-pane .brand img,
#homepage section#brands .scroll_pane .brand img.brand_logo {margin:0 auto 30px auto;width:100%; max-width:256px;height:auto;max-height:100%;}
#homepage section#brands .scroll_pane .brand h4,
#homepage section#brands .scroll_pane .brand h4.brand_name {font-weight:bold;color:#2A414D;}
#homepage section#brands .scroll_pane .brand h4 a {color:#2A414D;}
@media (min-width: 933px) {
	#homepage section#splash {padding-top: 200px;}
}
@media (min-width: 780px) {
	#homepage .flexRow {display: flex;align-items: center;justify-content: center;}
	#homepage section#brands .scroll_pane .brand {text-align: left;}
}
@media (max-width: 780px) {
	#homepage .text-sm-center {text-align:center;}
	#homepage section#splash h1 {font-size:30px;}
	#homepage section#splash p.lead {font-size:25px;}
	#homepage section#cta-bar .text-right {text-align:center;}
}

/*
jScrollPane CSS
*/
#homepage section#brands .scroll_pane {width: 100%;height: 450px;overflow: visible !important;white-space: nowrap;outline: none;}
.horizontal-only {height: auto;max-height: 450px;}
.jspContainer {overflow: visible;position: relative;outline: 0 none;-webkit-overflow-scrolling: touch;}
.jspPane {position: absolute;}
.jspVerticalBar {position: absolute;top: 0;right: 0;width: 16px;height: 100%;background: red;display:none !important;}
.jspHorizontalBar {position: absolute;bottom: 0;left: 0;width: 100%;height: 4px;border-radius: 50px;background: none;}
.jspCap,
.jspCorner {display: none;}
.jspHorizontalBar .jspCap {float: left;}
.jspTrack {background: rgba(46,61,73,0.1);border-radius: 50px;position: relative;}
.jspDrag {background: #55b7b8;height: 10px;position: relative;top: 0;left: 0;cursor: pointer;border-radius: 50px;}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {float: left;/*height: 100%;*/}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {margin: 0 -3px 0 0;}
/*
Modal Video
*/
#videoModal .modal-header {display:none;}
#videoModal .modal-body {padding: 0;}
@media (min-width: 992px){
	#homepage #videoModal .modal-dialog {width: 800px;}
}
/*********************************************************
|
|  archive-mgl_product.php
|
**********************************************************/

body.post-type-archive-mgl_product {
  background: #f9f9fa;
}
.templates#content-archive h2 {
  margin: 0;
}
.templates#content-archive .sort {
  margin-bottom: 30px;
  line-height: 33px;
}
#archive-mgl_product section#splash {
  font-size: 18px;
  color: white;
  padding: 50px 0;
  margin-bottom: 0;
  background-color: linear-gradient(to right,  #5bbbb9 0%,#84cdba 100%);
  background-size: cover;
  background-position: center center;
  background-image: url('../images/hero-feed.png');
}
#archive-mgl_product section#splash h1 {
  margin: 0;
}
#archive-mgl_product section#splash form p.small {
  margin: 10px 0 0 0;
}
#archive-mgl_product section#splash .txt-wrap {
  display: inline-block;
  max-width: 630px;
  margin: 30px 0;
  font-size: 20px;
  font-weight: normal;
}
#archive-mgl_product section#brands {
  margin-bottom: 50px;
}
.templates#content-archive .main h1 {
  font-size: 30px;
  margin-top: 0;
}
.templates#content-archive h1 small {
  font-size: 16px;
  line-height: 33px;
}
.templates#content-archive .left h4 {
  padding-bottom: 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}
.templates#content-archive .affix {
  top: 100px;
}
.templates#content-archive .affix .well {
  max-width: 165px;
}
.templates#content-archive .right .well {
  padding: 14px;
  background: white;
  font-size: 13px;
}
.templates#content-archive .right h4 {
  margin-bottom: 15px;
  font-size: 15px;
}
.templates#content-archive ul.the_champ_login_ul li {
  display: block;
  width: 100% !important;
  margin-left: 0 !important;
}
.templates#content-archive .theChampLogin {
  margin: 5px 0;
}
.templates#content-archive ul.the_champ_login_ul li ss:before {
  font-size: 14px;
  margin-left: 25px;
}
.templates#content-archive ul.the_champ_login_ul li ss.theChampFacebookLoginSvg:before {
  content: 'Login';
}
.templates#content-archive ul.the_champ_login_ul li ss.theChampTwitterLoginSvg:before {
  content: 'Login';
}
.grid .product-card {
  padding-left: 8px;
  padding-right: 8px;
}
.product-card {
  margin-bottom: 1px;
}
.product-card .title {
  font-size: 16px;
}
.product-card .thumbnail {
  padding: 0;
  border: 1px solid #e4e4e4;
}
.product-card .thumbnail .caption {
  padding: 15px;
}
.product-card .thumbnail .caption .desc {
  margin-bottom: 15px;
}
.product-card .thumbnail .author {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #e4e4e4;
  font-size: 13px;
}
.product-card .thumbnail .author img {
  border-radius: 5px;
  max-width: 50px;
  max-height: 33px;
}
.product-card .thumbnail .author h4 {
  margin: 0;
  font-size: 13px;
}
.product-card .thumbnail .author h4 a {
  color: #333;
}
.product-card .product-thumb {
}
#archive-mgl_product .label:first-child {
  margin-right: 0;
}
@media (min-width: 992px) {
  #archive-mgl_product section#brands {
    margin-bottom: 100px;
  }
}

/*********************************************************
|
|  template-about.php
|
**********************************************************/

body.page-template-template-about-php main.main {
  margin-bottom: 0;
}
#template-about section {
  padding: 100px 0;
  font-size: 16px;
  color: #888;
}
#template-about section.page-splash {
  margin-bottom: 0;
}
section.page-splash {
  font-size: 18px;
  font-weight: normal;
  padding: 75px 0;
  margin-bottom: 75px;
  color: white;
  background-image: url('../images/quote-bg.jpg');
  background-size: cover;
  background-position: center center;
}
section.page-splash h1,
section.page-splash h2 {
  font-size: 50px;
  font-weight:normal;
  color: white;
  margin-bottom: 20px;
}
#template-about section#about {
  background: white;
}
#template-about section#about h2 {
  font-size: 28.8px;
	line-height: 1.4;
	text-align: center;
	color: #333333;
  margin-bottom: 29px;
}
#template-about section#about h3 {
  font-weight:700;
  font-size: 20px;
	line-height: 1.1;
	color: #333333;
  margin-bottom: 13px;
}
#template-about section#about p {
	font-size: 18px;
	line-height: 1.8;
	color: #777777;
	margin-bottom:30px;
}
#template-about section#about img {
	border-radius:5px;
	margin:46px auto;
}
#template-about section#about img.logo {
	max-height: 36px;
	width: auto;
  display: inline-block;
  margin: 20px 20px 20px 0;
}
#template-about section#team {
  background: #f9f9fb;
}
#template-about section#team p {
	font-size: 18px;
	line-height: 1.8;
	color: #777777;
	margin-bottom:30px;
}
#template-about section#team .team {
	margin-bottom:43px;
}
#template-about section#team .team img {
  border-radius:5px;
  width: 230px;
  margin:0 auto;
}
#template-about section#team .team h4 {
  margin-top: 25px;
  letter-spacing: 2px;
}
#template-about section#team .team p {
	margin-bottom:0;
}
@media (min-width: 992px) {
  #template-about section#splash {
    padding: 120px 0;
  }
}

/*********************************************************
|
|  index.php
|
**********************************************************/

#blog section#splash {
  padding: 50px 0;
  background-image: url('../images/blog-splash.jpg');
  background-size: cover;
  background-position: center center;
}
#blog article {
  padding-top: 35px;
  border-top: 1px solid #9b9b9b;
  margin-bottom: 55px;
}
#blog article:first-child {
  padding-top: 0;
  border-top: none;
}
@media (min-width: 992px) {
  #blog section#splash {
    padding: 100px 0;
    margin-bottom: 50px;
  }
}

/*********************************************************
|
|  blog posts
|
**********************************************************/

article.post header {
  margin-bottom: 15px;
}
article.post header h2 a {
  color: #333;
}
article.post header .byline {
  font-size: 17px;
}
article.post header .avatar img {
  border-radius: 8px;
}
article.post header .byline a {
  color: #777;
}
article.post header a.nickname {
  margin: 0 15px;
}
article.post header time {
  margin: 0 15px;
}
article.post header .comment-count {
  margin-left: 15px;
}
article.post .entry-thumb {
  margin-bottom: 25px;
  border-radius: 8px;
}
article.post .entry-summary p {
	font-size:18px;
}
.single-post .discussion {
  padding: 75px 0;
}

@media (min-width: 992px) {
  article.post header h2 {
    font-size: 29px;
    margin-bottom: 25px;
  }
}

/*********************************************************
|
|  single.php
|
**********************************************************/

#blog-single section#splash {
  font-size: 18px;
  padding: 50px 0;
  margin-bottom: 50px;
  color: white;
  background-image: url('../images/single-hero.jpg');
  background-size: cover;
  background-position: center center;
}
#blog-single section#splash h1 {
  color: white;
}
@media (min-width: 992px) {
  #blog-single section#splash {
    padding: 100px 0;
    margin-bottom: 75px;
  }
}

/*********************************************************
|
|  template-signin.php && template-login.php
|
**********************************************************/

#template-login p {
  font-size: 18px;
  font-weight: normal;
}
#template-login small {
  font-size: 14px;
  font-weight: normal;
}
ul.the_champ_login_ul li {
  display: inline-block;
  float: none;
  width: 45% !important;
  margin-left: 3% !important;
}
ul.the_champ_login_ul li:first-child {
  margin-left: 0 !important;
}
ul.the_champ_login_ul li i {
  width: 100% !important;
  padding: 4px 0 4px 8px !important;
}
ul.the_champ_login_ul li ss {
  padding-left: 5px;
}
ul.the_champ_login_ul li ss:before {
  color: white;
  font-style: normal;
  font-size: 13px;
  line-height: 27px;
  margin-left: 0;
  border-left: 1px solid #274072;
  padding-left: 10px;
}
ul.the_champ_login_ul li ss.theChampFacebookLoginSvg:before {
  content: 'Login Using Facebook';
}
ul.the_champ_login_ul li ss.theChampTwitterLoginSvg:before {
  content: 'Login Using Twitter';
  border-color: #1a8ac1;
  margin-left: -10px;
}
.signup ul.the_champ_login_ul li ss.theChampFacebookLoginSvg:before {
  content: 'Signup Using Facebook';
}
.signup ul.the_champ_login_ul li ss.theChampTwitterLoginSvg:before {
  content: 'Signup Using Twitter';
}
#wp-submit {
  display: inline-block;
  padding: 6px 30px;
  color: white;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #55b7b8;
  border-color: #55b7b8;
}
.login-username label,
.login-password label {
  display: none;
}
#loginform label {
  font-weight: normal;
  font-size: 14px;
}
#loginform p {
  margin-bottom: 20px;
}
#template-signup section#signup,
#template-login section#signup {
	margin-top: 70px;
}
#template-signup section#signup h2,
#template-login section#signup h2 {
	font-weight: 700;
	margin-bottom: 40px;
}
#template-signup section#signup p,
#template-login section#signup p {
  font-size: 18px;
  ine-height: 1.6;
}
#template-signup section#signup p.small,
#template-login section#signup p.small,
#template-signup section#signup p.small a,
#template-login section#signup p.small a {
  font-size: 15px;
  color: #9b9b9b;
}
#template-signup section#signup p.small a:hover,
#template-login section#signup p.small a:hover,
#template-signup section#signup p.small a:focus,
#template-login section#signup p.small a:focus {
	color: #337ab7;
}

#template-signup section#signup form,
#template-login section#signup form {
  margin-top: 55px;
}
#template-login section#signup .form-control,
#template-signup section#signup .form-control  {
	background-color: #fff;
}
#template-login section#signup textarea,
#template-login section#signup input,
#template-signup section#signup textarea,
#template-signup section#signup input {
	font-family: "brandon-grotesque",sans-serif;
	font-weight:700;
	font-size: 13px;
	line-height: 1.4;
	letter-spacing: 4px;
	color: #777777;
}
#template-signup section#signup input[type="submit"],
#template-login section#signup input[type="submit"] {
	font-weight:400;
	font-size: 15px;
	color: #ffffff;
	letter-spacing: 0;
}
#social-login .divider-new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 0 15px;
}
#social-login .divider-new::before{
	flex:1;
	margin:0 .45em 0 0
}
#social-login .divider-new::after{
	flex:1;
	margin:0 0 0 .45em
}
#social-login .divider-new::after, .divider-new::before {
  content: '';
  height: 1.5px;
  background: #9b9b9b;
}
#social-login .o-r {
	width: 35px;
	height: 34px;
	font-family: "brandon-grotesque",sans-serif;
	font-size: 25px !important;
	color: #9b9b9b;
}
#social-login .rectangle {
  padding: 8px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-bottom:15px;
}
#social-login .social-icon {
  color:#fff !important;
  width: 100%;
}
#social-login .fa {
  font-size: 20px;
}
#social-login .tw-bg {
  background-color: #55ACEE;
}
#social-login .fb-bg {
  background-color: #3B5998;
}
#social-login .fa-twitter {
  border-right:1px solid #1a8ac1;
  padding-right:10px;
  margin-right:15px;
}
#social-login .fa-facebook {
  border-right:1px solid #274072;
  padding-right:10px;
  margin-right:15px;
}
body.page-template-template-login main.main {
  min-height: 90vh;
}
#template-login img {
  display: inline-block;
  margin-bottom: 60px;
  box-shadow: 0 11px 27px 0 rgba(119, 119, 119, 0.5);
  border-radius: 100%;
}

@media (min-width: 992px) {
	#template-signup section#signup,
  #template-login section#signup {
    margin-top:140px;
  }
}

/*********************************************************
|
|  template-product_post.php
|
**********************************************************/

body.page-template-template-product_post section.page-splash {
  background-image: url('../images/splash-product-post.png');
}
#template-product_post section#product_post .main {
	margin-top: 75px;
	padding-bottom: 50px;
}
#template-product_post section#product_post h1 { 
	margin-bottom: 35px;
}
#template-product_post section#product_post h2 { 
	margin-top: 50px;
	margin-bottom: 17px;
}
#template-product_post section#product_post h4 { 
	font-weight:700;
	font-size:16px;
}
#template-product_post section#product_post h5 { 
	font-weight:400;
	font-size:16px;
	margin-top:55px;
	margin-bottom: 34px;
}
#template-product_post section#product_post p a {
	text-decoration:underline;
}
#template-product_post section#product_post hr {
    margin-top: 160px;
    margin-bottom: 80px;
    border: 0;
    border-top: 2px solid #d8d8d8;
}
#template-product_post section#product_post p.grey-text {
	font-size: 16px;
	line-height: 0.9;
	color: #4a4a4a;
	margin-bottom:30px;
}
#template-product_post section#product_post textarea,
#template-product_post section#product_post input,
#template-product_post section#product_post select {
	font-family: "brandon-grotesque",sans-serif;
	font-size: 13px;
	line-height: 1.4;
	color: #999999;
}
#template-product_post #product-form-wrap.well {
  margin-top: -208px;
  background: white;
}
#template-product_post #product-form-wrap #progress-wrap {
  border-bottom: 1px solid #e3e3e3;  
  padding-bottom: 4px;
}
#template-product_post #product-form-wrap #progress-wrap .progress {
  height: 11px;
  margin-top: 4px;
}
#template-product_post #product-form-wrap #progress-wrap .progress-bar {
  background-color: #55b8b8;
  width: 25%;
}
#template-product_post #product-form-wrap .category-list {
  margin: 50px 0;
}
#template-product_post #product-form-wrap .category-list .category {
  height: 155px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4.1px;
  box-shadow: 0 2px 5px 0 rgba(158, 158, 158, 0.4);
  font-weight: 300;
  font-size: 16px;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: center;
}
#template-product_post #product-form-wrap .category-list .category:hover {
  cursor: pointer;
}
#template-product_post #product-form-wrap .category-list .category img {
  padding: 10px 0;
}
#template-product_post #product-form-wrap .category-list input {
  position: absolute;
  left: -99999999999px;
}
#template-product_post #product-form-wrap .category-list input:checked+label {
  background-color: #55b8b8;
  color: white;
}
#template-product_post #product-form-wrap #details label {
  font-weight: 300;
  font-size: 16px;
}
#template-product_post #product-form-wrap #details .form-group {
  margin-top: 50px;
}
#template-product_post #product-form-wrap #details {
  padding: 0 30px;
}
#template-product_post #product-form-wrap #details label {
  font-size: 16px;
  font-weight: 300;
  color: #333;
}

@media screen and (min-width: 768px){
  #template-product_post #product-form-wrap .category-list .sub-category {
    display: inline-block;
    float: none;
  }
}

/*********************************************************
|
|  template-profile_following.php
|
**********************************************************/
#template-profile_following section#hero {
	background-color: #233743;
}
#template-profile_following section#hero a.btn.btn-follow {
	border: 1px solid #fff;
	color:#fff;
	font-size:15px;
	padding: 10px 26px;
}
#template-profile_following section#hero a.btn.btn-follow:hover,
#template-profile_following section#hero a.btn.btn-follow:focus {
	border: 1px solid #55b8b8;
	color:#55b8b8;
}
#template-profile_following section#hero .btn.float-right {
	position: absolute;
  right: 15px;
}
/* Mobile user*/
@media screen and (max-width: 580px){
    #template-profile_following section#hero .btn.float-right {
    display:none;
    }
}
#template-profile_following section#hero .profile-thumb {
	padding:105px 32px 26px 32px;
}
#template-profile_following section#hero .profile-thumb img {
	max-width: 188px;
	box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
	border-radius: 6px;
}
#template-profile_following section#hero .profile-thumb img.img-responsive {
	display: inline-block;
}
#template-profile_following section#hero .white-text {
	color:#ffffff;
}
#template-profile_following section#hero .profile-fullname {
	font-size:16px;
	padding-bottom:10px;
}
#template-profile_following section#hero .profile-title {
	font-size:16px;
	padding-bottom:20px;
}
#template-profile_following section#hero .profile-social {
	font-size:15px;
	padding-bottom:26px;
}
#template-profile_following section#hero .profile-social a {
	color:#fff;
}
#template-profile_following section#hero .profile-social a:hover,
#template-profile_following section#hero .profile-social a:focus {
	color: #55b7b8;
}
#template-profile_following section#hero .profile-btn {
	padding-bottom:78px;
}
#template-profile_following section#hero .btn.btn-profile {
	border-radius: 45px;
	padding: 6px 20px;
}
#template-profile_following section#hero a.btn.btn-profile {
	font-size:13px;
	color:#fff;
	margin:5px;
}
#template-profile_following section#hero a.btn.btn-profile:hover,
#template-profile_following section#hero a.btn.btn-profile:focus {
	opacity:0.8;
}
#template-profile_following section#hero .btn.btn-profile.upvotes {
	background-color: #999;
}
#template-profile_following section#hero .btn.btn-profile.upvotes.active {
  background-color: rgba(227, 30, 70, 0.8);
}
#template-profile_following section#hero .btn.btn-profile.submitted {
	background-color: #46b3df;
}
#template-profile_following section#hero .btn.btn-profile.following {
	background-color: #cc4dfc;
}
#template-profile_following section#hero .btn.btn-profile.followers {
	background-color: #e9df67;
}

#template-profile_following section#profile_following {
	margin-top:80px;
}
#template-profile_following section#profile_following .card-item {
	border-radius: 5px;
	background-color: #ffffff;
	border: solid 1px #e4e4e4;
	padding:10px;
	margin-bottom:20px;
}
#template-profile_following section#profile_following .profile-thumb {
	padding-bottom:25px;
}
#template-profile_following section#profile_following .profile-thumb img {
  border-radius: 6px;
}
#template-profile_following section#profile_following .profile-thumb img.img-responsive {
	display: inline-block;
}
#template-profile_following section#profile_following .profile-fullname {
	font-size: 16px;
	line-height: 1.1;
	letter-spacing: 4.9px;
	color: #333333;
	padding-bottom:10px;
}
#template-profile_following section#profile_following .profile-title {
	font-size: 15px;
	line-height: 1.7;
	color: #777777;
	padding-bottom:5px;
}
#template-profile_following section#profile_following .profile-username {
	font-size: 15px;
	line-height: 1.7;
	color: #55b8b8;
	padding-bottom:17px;
}
#template-profile_following section#profile_following .btn.btn-follow {
	border:1px solid #55b8b8;
	background-color:#55b8b8;
	color:#ffffff;
	padding: 8px 20px;
	width: 100%;
}
#template-profile_following section#profile_following .btn.btn-follow:hover,
#template-profile_following section#profile_following .btn.btn-follow:focus {
	background-color:#fff;
	color:#55b8b8;
}
#template-profile_following section#profile_following .btn.btn-following {
	border:1px solid #55b8b8;
	color:#55b8b8;
	padding: 8px 20px;
	width: 100%;
}
#template-profile_following section#profile_following .btn.btn-following:hover,
#template-profile_following section#profile_following .btn.btn-following:focus {
	color:#fff;
	background-color:#55b8b8;
}
#template-profile_following section#profile_following .showmore {
	padding-top:65px;
}
#template-profile_following section#profile_following .btn.btn-showmore {
	border:1px solid #9b9b9b;
	font-size: 13px;
	line-height: 1.4;
	color: #777777;
	padding: 6px 20px;
	border-radius:45px;
}
#template-profile_following section#profile_following .btn.btn-showmore:hover,
#template-profile_following section#profile_following .btn.btn-showmore:focus {
	color:#fff;
	background-color:#9b9b9b;
}

/*********************************************************
|
|  template-profile_product.php
|
**********************************************************/
#template-profile_product section#hero {
	background-color: white;
}
#template-profile_product section#hero a.btn.btn-follow {
	border: 1px solid #fff;
	color:#fff;
	font-size:15px;
	padding: 10px 26px;
}
#template-profile_product section#hero a.btn.btn-follow:hover,
#template-profile_product section#hero a.btn.btn-follow:focus {
	border: 1px solid #55b8b8;
	color:#55b8b8;
}
#template-profile_product section#hero .btn.float-right {
	position: absolute;
  right: 15px;
}
/* Mobile user*/
@media screen and (max-width: 580px){
    #template-profile_product section#hero .btn.float-right {
    display:none;
    }
}
#template-profile_product section#hero .profile-thumb {
	padding: 60px 32px 26px 32px;
}
#template-profile_product section#hero .profile-thumb img {
	max-width: 188px;
	box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
	border-radius: 6px;
}
#template-profile_product section#hero .profile-thumb img.img-responsive {
	display: inline-block;
}
#template-profile_product section#hero .white-text {
	
}
#template-profile_product section#hero .profile-fullname {
	font-size:16px;
	padding-bottom:10px;
  color: #333;
  font-weight: bold;
}
#template-profile_product section#hero .profile-title {
	font-size:16px;
	padding-bottom:20px;
}
#template-profile_product section#hero .profile-social {
	font-size:15px;
	padding-bottom:26px;
}
#template-profile_product section#hero .profile-social a {
	
}
#template-profile_product section#hero .profile-social a:hover,
#template-profile_product section#hero .profile-social a:focus {
	color: #55b7b8;
}
#template-profile_product section#hero .profile-btn {
	padding-bottom: 60px;
}
#template-profile_product section#hero .btn.btn-profile {
	border-radius: 45px;
	padding: 6px 20px;
}
#template-profile_product section#hero a.btn.btn-profile {
	font-size:13px;
	color:#fff;
	margin:5px;
}
#template-profile_product section#hero a.btn.btn-profile:hover,
#template-profile_product section#hero a.btn.btn-profile:focus {
	opacity:0.8;
}
#template-profile_product section#hero .btn.btn-profile.upvotes {
	background-color: #999;
}
#template-profile_product section#hero .btn.btn-profile.upvotes.active,
#template-profile_product section#hero .btn.btn-profile.upvotes:hover {
  background-color: rgba(227, 30, 70, 0.8);
}
#template-profile_product section#hero .btn.btn-profile.submitted {
	background-color: #999;
}
#template-profile_product section#hero .btn.btn-profile.submitted.active,
#template-profile_product section#hero .btn.btn-profile.submitted:hover {
  background-color: #46b3df;
}
#template-profile_product section#hero .btn.btn-profile.following {
	background-color: #cc4dfc;
}
#template-profile_product section#hero .btn.btn-profile.followers {
	background-color: #e9df67;
}

#template-profile_product section#profile_product {
	padding-top:80px;
	background: #f9f9fa;
}
#template-profile_product section#profile_product .card-item {
	border-radius: 6px;
	background-color: #ffffff;
	border: solid 1px #e4e4e4;
	margin-bottom:20px;
}
#template-profile_product section#profile_product .card-item.plus {
	background: white;
	border: 2px dashed #979797;
	padding: 50px 0;
}
#template-profile_product section#profile_product a:hover .card-item.plus {
	border-color: #55b7b8;
}
#template-profile_product section#profile_product .plus-wrap a {
	display: block;
	color: #777;
}
#template-profile_product section#profile_product .plus-wrap a:hover {
	text-decoration: none;
	color: #55b7b8;
}
#template-profile_product section#profile_product .card-item.plus p {
	font-size: 22px;
	margin-top: 15px;
}
#template-profile_product section#profile_product .card-item.plus span.plus {
	width: 125px;
	height: 125px;
	display: inline-block;
	background-image: url('../images/icon-plus.png');
	background-size: cover;
	background-position: center center;
}
#template-profile_product section#profile_product a:hover .card-item.plus span.plus {
	background-image: url('../images/icon-plus-hover.png');
}
#template-profile_product section#profile_product .profile-thumb {
	padding-bottom:25px;
}
#template-profile_product section#profile_product .profile-thumb img {
  border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#template-profile_product section#profile_product .profile-thumb img.img-responsive {
	display: inline-block;
}
#template-profile_product section#profile_product .profile-fullname {
	font-size: 16px;
	font-weight:700;
	line-height: 1.1;
	color: #333333;
	margin:0 16px 10px 16px;
}
#template-profile_product section#profile_product .profile-brand {
	font-size: 16px;
	line-height: 1.1;
	color: #333333;
	margin:0 16px 10px 16px;
}
#template-profile_product section#profile_product .profile-description {
	margin:0 16px;
}
#template-profile_product section#profile_product .profile-description p {
	color: #777777;
}
#template-profile_product section#profile_product .profile-website {
	font-size: 15px;
	line-height: 1.7;
	margin:0 16px 11px 16px;
}
#template-profile_product section#profile_product .profile-meta {
	padding:0 16px 16px 16px;
}
#template-profile_product section#profile_product a.btn.btn-profile {
    font-size: 13px;
    color: #fff;
    margin: 5px 4px 5px 0;
}
#template-profile_product section#profile_product .btn.btn-profile {
    border-radius: 45px;
    padding: 5px 10px 7px;
}
#template-profile_product section#profile_product a.btn.btn-profile:hover,
#template-profile_product section#profile_product a.btn.btn-profile:focus {
	opacity:0.8;
}
#template-profile_product section#profile_product .btn.btn-profile.trend {
	background-color: #eade66;
	color: #afa224;
}
#template-profile_product section#profile_product .btn.btn-profile.upvotes {
	background-color: rgba(227, 30, 70, 0.7);
}
#template-profile_product section#profile_product .btn.btn-profile.comment {
	background-color: rgba(202, 75, 252, 0.7);
}
#template-profile_product section#profile_product .btn.btn-profile.disable {
	background-color: #b1b1b1;
	padding: 5px 20px 7px;
}
#template-profile_product section#profile_product .profile-follower {
	border-top:1px solid #e7e7e7;
	margin:0 16px;
	padding:22px 0 19px 0;
}
#template-profile_product section#profile_product .profile-follower img {
	border-radius:6px;
	width: 36px;
	height: 30px;
	float:left;
}
#template-profile_product section#profile_product .profile-follower span.user-name {
	display:block;
	font-size: 13px;
	font-weight:700;
	line-height: 1.3;
	color: #4a4a4a;
	margin-left: 50px;
}
#template-profile_product section#profile_product .profile-follower span.user-cat {
	display:block;
	font-size: 13px;
	line-height: 1.3;
	color: #4a4a4a;
	margin-left: 50px;
}
#template-profile_product section#profile_product .showmore {
	padding-top:65px;
}
#template-profile_product section#profile_product .btn.btn-showmore {
	border:1px solid #9b9b9b;
	font-size: 13px;
	line-height: 1.4;
	color: #777777;
	padding: 6px 20px;
	border-radius:45px;
}
#template-profile_product section#profile_product .btn.btn-showmore:hover,
#template-profile_product section#profile_product .btn.btn-showmore:focus {
	color:#fff;
	background-color:#9b9b9b;
}

/*********************************************************
|
|  template-product_page.php
|
**********************************************************/

#template-product_page {
  font-weight: 300;
}
#template-product_page section#product_page {
	background-color: #f9f9fa;
	padding-bottom:90px;
}
#template-product_page section#product_page .prod-gallery,
#template-product_page section#product_page .prod-info {
	padding-top:90px;
}
#template-product_page section#product_page h1 {
	font-size: 30px;
	color: #333333;
	margin-bottom:11px;
	margin-top:3px;
  font-weight: normal;
}
#template-product_page section#product_page p {
	font-size: 15px;
	line-height: 1.7;
	color: #777777;
}
#template-product_page section#product_page p.brand-name {
	font-size: 16px;
	line-height: 1.1;
	color: #777777;
}
#template-product_page section#product_page .prod-info {
	margin-bottom:44px;
}
#template-product_page section#product_page .prod-meta {
	margin-bottom:40px;
}
#template-product_page section#product_page .prod-action {
	margin-top:40px;
}
#template-product_page section#product_page hr {
  border-top: 1px solid #e7e7e7;
}
#template-product_page a.btn.btn-profile {
  font-size: 13px;
  color: #fff;
  margin: 5px 4px 5px 0;
}
#template-product_page .btn.btn-profile {
  border-radius: 45px;
  padding: 5px 15px 7px;
}
#template-product_page a.btn.btn-profile:hover,
#template-profile_product a.btn.btn-profile:focus {
	opacity:0.8;
}
#template-product_page .btn.btn-profile.trend {
	background-color: #eade66;
	color: #afa224;
}
#template-product_page .btn.btn-profile.upvotes {
	background-color: rgba(227, 30, 70, 0.7);
}
#template-product_page .btn.btn-profile.comment {
	background-color: rgba(202, 75, 252, 0.7);
}
#template-product_page .btn.btn-profile.disable {
	background-color: #b1b1b1;
	padding: 5px 20px 7px;
}
#template-product_page .btn.btn-getProd {
  border: 1px solid #55b8b8;
  background-color: #55b8b8;
  color: #ffffff;
  padding: 8px 20px;
  width: 100%;
  margin-bottom:10px;
}
#template-product_page .btn.btn-getProd:hover, 
#template-product_page .btn.btn-getProd:focus {
    color: #55b8b8;
    background-color: #ffffff;
}
#template-product_page .btn.btn-saveProd {
  border: 1px solid #55b8b8;
  color: #55b8b8;
  padding: 8px 20px;
  width: 100%;
  margin-bottom:10px;
}
#template-product_page .btn.btn-saveProd:hover, 
#template-product_page .btn.btn-saveProd:focus {
  color: #fff;
  background-color: #55b8b8;
}
#template-product_page .btn.btn-price:hover, 
#template-product_page .btn.btn-price:focus {
  background-color: white;
  color: #55b8b8;
  cursor: default;
}
#template-product_page section#product_page .prod-gallery .previews a {
  display: block;
  margin-bottom: 10px;
}
#template-product_page section#product_page .prod-gallery .full {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
							0 2px 10px 0 rgba(0,0,0,.12);
	margin: 0 35px 40px 0;
}
#template-product_page section#product_page .prod-gallery .previews a {
	border: solid 3px #eeeeee;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
							0 2px 10px 0 rgba(0,0,0,.12);
}
#template-product_page section#product_page .prod-gallery .previews a:hover, 
#template-product_page section#product_page .prod-gallery .previews a.active {
	border: solid 3px #4a90e2;
}
#template-product_page section#product_page .share-action .social-wrap {
	float: right;
  margin-right: 35px;
}
#template-product_page section#product_page .share-action .media-body {
  width: auto;
}
#template-product_page section#product_page .share-action .media img {
  max-height: 43px;
  max-width: 50px;
  border-radius: 5px;
}
#template-product_page section#product_page .share-action .media .media-left {
  padding-right: 16px;
}
#template-product_page section#product_page .share-action .media .media-body a {
  color: #777;
}
#template-product_page section#product_page .share-action .media .media-heading a {
  font-size: 18px;
  color: #4a4a4a;
}
#template-product_page section#product_page .share-action .social-wrap a {
	border-radius: 3px;
	color:#fff;
	font-size:15px;
	padding: 11px 18px;
	margin: 0 5px 10px 5px;
	display: inline-block;
}
#template-product_page section#product_page .share-action .social-wrap a:hover,
#template-product_page section#product_page .share-action .social-wrap a:focus {
	text-decoration:none;
	opacity:0.8;
}
#template-product_page section#product_page .share-action blockquote {
  font-size: 15px;
  margin-top: 30px;
  border-left: none;
  padding: 0 35px 0 0;
}
#template-product_page section#product_page .share-action blockquote .fa {
  color: #55b7b8;
}
#template-product_page section#product_page .share-action blockquote .fa-quote-left {
  margin-right: 5px;
}
#template-product_page section#product_page .share-action blockquote .fa-quote-right {
  margin-left: 5px;
}
#template-product_page a.twitter-share-button {	
	background-color: #32a7e0;	
}	
#template-product_page a.facebook-share-button {
	background-color: #3b5791;
}
#template-product_page section#product_page  a.twitter-share-button i,
#template-product_page section#product_page  a.facebook-share-button i {
	margin-right: 10px;
}	
#template-product_page section#about-brand {
  background: white;
}
#template-product_page section#about-brand .title {
	margin:68px 0 80px 0;
	text-align:center;
}
#template-product_page section#about-brand h3 {
	font-size: 21px;
	line-height: 1;
	color: #333333;
	margin:45px 0;
}
#template-product_page section#about-brand img,
#template-product_page section#about-brand iframe {
	border-radius: 5px;
	margin-bottom:10px;
}
#template-product_page section#about-brand .badges {
	text-align: center;
	display:inline-block;
	margin-right:20px;
}
#template-product_page section#about-brand .badges img.oval {	
	border: solid 2px #55b8b8;
	border-radius:50%;
	display:block;
	margin:0 auto;
}
#template-product_page section#about-brand .badges .txt {
	font-size: 14px;
	line-height: 1.7;
	text-align: center;
	color: #777777;
	font-weight:600;
	display:block;
	padding:15px 0;
}
#template-product_page section#about-brand p {
	font-size:15px;
	line-height: 1.7;
	color: #777777;
	margin-bottom: 25px;
}
#template-product_page section#about-brand blockquote,
#template-product_page section#about-brand blockquote p {
	font-size: 21px;
	color: #333333;
	margin-bottom: 0;
}
#template-product_page section#about-brand blockquote {
  border-left: none;
  border-top: 1px solid #e7e7e7;
  padding-top: 25px;
}
#template-product_page section#about-brand .brand-entry,
#template-product_page section#about-brand .brand-video,
#template-product_page section#about-brand .brand-location,
#template-product_page section#about-brand .cta-bar {
	margin-bottom:45px;
}
#template-product_page section#about-brand .cta-bar-bg {
	border-radius: 5px;
	background-color: #f9f9fa;
	border: solid 1px #e4e4e4;
	padding:51px 15px;
	text-align:center;
}
#template-product_page section#about-brand .cta-bar p {
	font-size: 18px;
	line-height: 1.4;
	color: #4a4a4a;
}
#template-product_page section#about-brand .cta-bar .btn.btn-cta {
    border: 1px solid #55b8b8;
    background-color: #55b8b8;
    color: #ffffff;
    padding: 8px 37px;
    margin-bottom: 10px;
}
#template-product_page section#about-brand .cta-bar .btn.btn-cta:hover,
#template-product_page section#about-brand .cta-bar .btn.btn-cta:focus {
	opacity:0.8;
}
#template-product_page section#discussion {
	background-color: #f9f9fa;
	padding-bottom:100px;
	margin-bottom:-100px;
}
#template-product_page section#discussion h2 {
	font-size: 30px;
	line-height: 0.7;
	color: #333333;
	margin-top:80px;
}
#template-product_page section#discussion h4 {
	font-size: 18px;
	line-height: 1.4;
	color: #4a4a4a;
	font-weight:700;
}
#template-product_page section#discussion .widget-card {
	border-radius: 5px;
	background-color: #ffffff;
	border: solid 1.5px #e4e4e4;
	padding:33px 30px;
	margin-bottom:20px;
}
#template-product_page section#discussion .widget-spacer {
	height:122px;
}
#template-product_page section#discussion .widget-card .twitter-share-button,
#template-product_page section#discussion .widget-card .facebook-share-button {
		border-radius: 3px;
    color: #fff;
    padding: 11px 18px;
    margin-bottom:5px;
    width:100%;
    display:block;
}
#template-product_page section#discussion .widget-card .twitter-share-button:hover,
#template-product_page section#discussion .widget-card .twitter-share-button:focus,
#template-product_page section#discussion .widget-card .facebook-share-button:hover,
#template-product_page section#discussion .widget-card .facebook-share-button:focus {
	text-decoration:none;
	opacity:0.8;
}
#template-product_page section#discussion .widget-card .twitter-share-button i {
	margin-right:8px;
}
#template-product_page section#discussion .widget-card .facebook-share-button i {
	margin-right:12px;
}
#template-product_page section#discussion .widget-card .btn.btn-submit {
    border: 1px solid #55b8b8;
    background-color: #55b8b8;
    color: #ffffff;
    padding: 8px 37px;
    margin-bottom: 10px;
}
#template-product_page section#discussion .widget-card .btn.btn-submit:hover,
#template-product_page section#discussion .widget-card .btn.btn-submit:focus {
	opacity:0.8;
}
#template-product_page section#discussion .widget-card input {
	 margin-bottom: 10px;
}
#template-product_page section#discussion img {
	border-radius: 5px;
}
#template-product_page section#discussion .widget-card .item {
	margin-bottom: 20px;
}
#template-product_page section#discussion .widget-card .item img {
	margin-bottom: 10px;
}
form.comment-form label {
	display: none;
}
.comments ul {
	list-style-type: none;
}
.comments .comment-metadata {
	display: none;
}
.comments .says {
	display: none;
}
.comments .logged-in-as {
	display: none;
}
.comments .comment-body {
	padding: 20px 0;
	border-bottom: 1px solid #e7e7e7;
}
.comments .comment-author img {
	margin-right: 10px;
}
.comments .comment-content {
	padding-left: 45px;
	padding-top: 10px;
}
.comments .comment-body .reply {
	margin-left: 45px;
}

@media only screen and (max-width: 768px) {
	#template-product_page section#product_page .prod-gallery .full {
    margin: 0 0 20px 0;
	}
	#template-product_page section#about-brand .cta-bar .btn.btn-cta {
		padding: 8px 20px;
		width:100%
	}
}

/*********************************************************
|
|  template-brand_directory.php
|
**********************************************************/
/* 
| brand - cta
*/
.btn.btn-default.btn-cta {
	border-radius: 50px;
  background-color: #f5f6f6;
  border-color:#f5f6f6;
  padding: 10px 30px;
  font-weight:bold;
  text-transform:uppercase;
}
.btn.btn-default.btn-cta:hover,
.btn.btn-default.btn-cta:focus {
	background-color: #55b8b8;
  border-color:#55b8b8;
  color:#fff;
}
.cta-widget .btn.btn-default.btn-cta {
	background-image: linear-gradient(to right, #55b8b8, #89d0bb);
	color:white;
	text-transform:uppercase;
}
.cta-widget .btn.btn-default.btn-cta:hover,
.cta-widget .btn.btn-default.btn-cta:focus {
	background-color: #55b8b8;
	background-image: none;
}
.input-group.form-cta {
	border-radius: 50px;
  background-color: #f5f6f6;
  padding: 13px;
}
.form-cta .form-control, 
.form-cta input[type=text] {
	border: none;
}
.form-cta input[type=text]:focus,
.form-cta input[type=email]:focus {
	box-shadow:none;
}
.form-cta .btn-default {
	background-color: transparent;
  border-color: transparent;
  font-weight:bold;
  padding: 6px 20px;
}
.form-cta .btn-default:hover,
.form-cta .btn-default:focus {
	background: transparent;
  color: #2a404d;
}

.mc4wp-response {margin-top: 20px;}

.mask {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.mask.accessories {background-color: rgba(157, 100, 125, 0.7);border-radius: 3px;}
.mask.beauty {background-color: rgba(232, 189, 183, 0.8);border-radius: 3px;}
.mask.electronics {background-color: rgba(194, 94, 51, 0.7);border-radius: 3px;}
.mask.gifts {background-color: rgba(79, 198, 150, 0.7);border-radius: 3px;}
.mask.kids {background-color: rgba(126, 180, 199, 0.8);border-radius: 3px;}
.mask.clothing {background-color: rgba(233, 158, 74, 0.8);border-radius: 3px;}
.mask.foods {background-color: rgba(130, 90, 170, 0.8);border-radius: 3px;}
.mask.shoes {background-color: rgba(27, 69, 115, 0.8);border-radius: 3px;}
.mask.health {background-color: rgba(199, 45, 26, 0.7);border-radius: 3px;}
.mask.jewelry {background-color: rgba(193, 107, 56, 0.7);border-radius: 3px;}
.mask.pets {background-color: rgba(95, 66, 55, 0.7);border-radius: 3px;}
.mask.home {background-color: rgba(158, 131, 83, 0.8);border-radius: 3px;}
.card:hover .mask,
.card:focus .mask {opacity:0.5;}

#template-brand_directory {padding-top: 60px;background-color: white;padding-bottom: 75px;margin-bottom: -75px;}

#template-brand_directory .mT {margin-top:60px;}
#template-brand_directory .msT {margin-top:30px;}
#template-brand_directory .mB {margin-bottom:60px;}
#template-brand_directory .msB {margin-bottom:30px;}

#template-brand_directory hr {border-top: 1px solid #d7e7e4;}

#template-brand_directory .banner.lg {
	width:100%;
	height:120px;
	border-radius: 5px;
  background-color: #d7e7e4;
}
#template-brand_directory .banner.sm {
	width:100%;
	height:280px;
	border-radius: 5px;
  background-color: #d7e7e4;
}
#template-brand_directory .banner.txt {
	display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color:#fff;
}

/* 
| brand - main
*/
#template-brand_directory #mainCol h1 {
	font-weight: 300;
	color:#55b8b8;
}
#template-brand_directory #mainCol h2 {
	font-size:25px;
	color:#55b8b8;
	font-weight: bold;
}
#template-brand_directory #mainCol .brand-btn button.btn.btn-default {
	background-color: white;
	border-color: #d7e7e4;
	color: #c1cace;
	font-weight:400;
	text-transform: uppercase;
	padding: 7px 5px;
}
#template-brand_directory #mainCol .brand-btn button.btn.btn-default:hover,
#template-brand_directory #mainCol .brand-btn button.btn.btn-default:focus,
#template-brand_directory #mainCol .brand-btn button.btn.btn-default.active {
	background-color: #d7e7e4;
	border-color: #d7e7e4;
	color: #55b8b8;
	box-shadow: none;
}
#template-brand_directory #mainCol .brand-filter {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
}
#template-brand_directory #mainCol .brand-filter .tag-group {
	display: table-cell;
	float: none;
	width: 1%;
}
#template-brand_directory #mainCol .brand-filter input {
    position: absolute;
    left: -99999999999px;
}
#template-brand_directory #mainCol .brand-filter label.category {
	border: solid 1px #d7e7e4;
	border-radius: 4px;
  padding: 7px 5px;
  font-weight:400;
  font-size: 14px;
  color: #c1cace;
  text-transform:uppercase;
  text-align:center;
  margin-bottom: 0;
  width: 100%;
}
#template-brand_directory #mainCol .brand-filter input:checked+label {
	background-color: #d7e7e4;
	border-color: #d7e7e4;
	color: #55b8b8;
	box-shadow: none;
}
#template-brand_directory #mainCol .brand-filter label.category:hover{cursor:pointer;}
#template-brand_directory #mainCol .brand-filter .tag-group:first-child:not(:last-child)>label.category:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#template-brand_directory #mainCol .brand-filter .tag-group:not(:first-child):not(:last-child)>label.category {
    border-radius: 0;
}
#template-brand_directory #mainCol .brand-filter .tag-group:last-child:not(:first-child)>label.category:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*
@media (min-width: 780px) {
	#template-brand_submit #submit_form .form-group {
		border-right:none;
	}
	#template-brand_submit #submit_form .form-Box .row .form-group:nth-last-child(1) {
		border-right:1px solid #ddd;
	}
}
@media (max-width: 780px) {
	#template-brand_submit #submit_form .form-Box .row {
			margin: 0 20px;
	}
}
*/







#template-brand_directory #mainCol .card {
	position:relative;
	height:200px;
	margin-bottom:20px;
	display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 10px 20px 0 rgba(226, 191, 185, 0.5);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}
#template-brand_directory #mainCol .card p {
	font-size: 30px;
  color:#fff;
  z-index:100;
}

#template-brand_directory #mainCol .banner-section {margin-bottom:20px;}

/* 
| brand - side
*/
#template-brand_directory #sideCol .widgetBox {
	border-bottom: 1px solid #d7e7e4;
	padding-bottom:60px;
	margin-bottom:60px;
}
#template-brand_directory #sideCol .the_champ_horizontal_sharing .theChampSharing {border-color: #f5f6f6;}

@media (max-width: 780px) {
	#template-brand_directory .text-sm-center {
		text-align:center;
	}
}

/* 
| brand - divider ONLY Desktop
*/
@media (min-width: 1200px) {
	#template-brand_directory #mainCol.divider {
		border-right: 1px solid #d7e7e4;
	}
	#template-brand_directory #mainCol.divider {
		padding-right:60px;
	}
	#template-brand_directory #sideCol.divider {
		padding-left:60px;
	}
}

/*********************************************************
|
|  template-brand_detail.php
|
**********************************************************/
#template-brand_detail {padding-top: 60px;background-color: white;padding-bottom: 75px;margin-bottom: -75px;}

#template-brand_detail .mT {margin-top:60px;}
#template-brand_detail .msT {margin-top:30px;}
#template-brand_detail .mB {margin-bottom:60px;}
#template-brand_detail .msB {margin-bottom:30px;}

#template-brand_detail .card {
	position:relative;
	height:100px;
	display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 10px 20px 0 rgba(226, 191, 185, 0.5);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}
#template-brand_detail .card p {
	font-size: 30px;
  color:#fff;
  z-index:100;
}
#template-brand_detail h1 {
	color: #55b8b8;
	text-transform:uppercase;
}
#template-brand_detail section#brand_detail h3 {margin-top:0;}
#template-brand_detail section#brand_detail h3 a {color:#333;}
#template-brand_detail section#brand_detail h3 a:hover,
#template-brand_detail section#brand_detail h3 a:focus {color:#55b8b8;text-decoration:none;}
#template-brand_detail .btn.btn-default.btn-cta {margin:5px 0;}

#template-brand_detail .carousel .carousel-control {
	background-image:none;
	width: 15px;
	font-size: 50px;
	color: #c1cace;
	text-shadow: none;
	opacity:1;
}
#template-brand_detail .carousel .carousel-control:hover,
#template-brand_detail .carousel .carousel-control:focus {
	color: #55b8b8;
}
#template-brand_detail .carousel .left.carousel-control {
	text-align: left;
}
#template-brand_detail .carousel .right.carousel-control {
	text-align: right;
}

@media (min-width: 780px) {
	#template-brand_detail .carousel .left.carousel-control {
		left: -3%;
	}
	#template-brand_detail .carousel .right.carousel-control {
		right: -3%;
	}
}

#template-brand_detail .borderB {padding-bottom: 30px;}
#template-brand_detail .badge {background:none;vertical-align: top;padding:3px;}
#template-brand_detail .badge img {width:18px;height:18px;}
#template-brand_detail .badge.catIcon {border:1px solid #83CBB4;border-radius:4px;margin-left: 5px;} 
#template-brand_detail .brandGrid {border-top: 1px solid #d7e7e4;padding-top: 30px;}
#template-brand_detail .brandGrid p {margin-bottom:30px;}
#template-brand_detail .gridHeader {margin-top:30px;}
#template-brand_detail .gridHeader p {font-size:40px;color:#2A414D;}
#template-brand_detail .gridHeader.noTitle p {color:#fff;}

@media (min-width: 780px) {
	#template-brand_detail .flexRow {
		display: flex;
		align-items: center;
		justify-content: center;
  }
  #template-brand_detail .flexGrid {
  	-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
		-moz-column-gap: 3em;
		-webkit-column-gap: 3em;
		column-gap: 3em;
  }
  #template-brand_detail .flexGrid .col {
		display: inline-table;
		width:100%;
	}
  #template-brand_detail .badge {margin-left: -28px;}
}
@media (max-width: 480px) {
	#template-brand_detail .card p {
		font-size: 24px;
	}
	
}
@media (max-width: 780px) {
	#template-brand_detail .text-sm-center,
	#template-brand_detail .text-right {
		text-align:center;
	}
	#template-brand_detail .card {
		margin-bottom:20px;
	}
	#template-brand_detail h3 span.category {
		display:block;margin-top: 10px;
	}
	#template-brand_detail .brandGrid p {padding-left:5%;padding-right:5%;}
}


/*********************************************************
|
|  template-brand_submit.php
|
**********************************************************/
.btn.btn-default.btn-submit {
	background-image: linear-gradient(to right, #55b8b8, #89d0bb);
	color:white;
	border-radius: 50px;
  border-color:transparent;
  padding: 20px 30px;
  font-weight:bold;
  text-transform:uppercase;
}
.btn.btn-default.btn-submit:hover,
.btn.btn-default.btn-submit:focus {
	background-color: #55b8b8;
	background-image: none;
}

#template-brand_submit {background-color: white;padding-bottom: 75px;margin-bottom: -75px;}

#template-brand_submit .mT {margin-top:60px;}
#template-brand_submit .msT {margin-top:30px;}
#template-brand_submit .mB {margin-bottom:60px;}
#template-brand_submit .msB {margin-bottom:30px;}
#template-brand_submit .pT {padding-top:60px;}
#template-brand_submit .pB {padding-bottom:60px;}

#template-brand_submit section#brand_price {
	background-image: linear-gradient(to right, #55b8b8, #89d0bb);
}
#template-brand_submit .borderB {
	border-bottom: solid 1px #ffffff;
	padding-bottom: 60px;
	margin-bottom: 60px;
}
#template-brand_submit .white-text {
	color:#fff;
}
#template-brand_submit #brand_price h1 {
	font-weight: normal;
	color:#fff;
	margin-top: 0;
  margin-bottom: 20px;
}
#template-brand_submit #brand_price h3 {
	color:#fff;
}
#template-brand_submit #brand_price .priceList ul {
	padding-left:0;
}
#template-brand_submit #brand_price .priceList li {
	background-image: url('../images/pl-icon-bullet.svg');
	background-repeat:no-repeat;
	background-position:left top;
	list-style: none;
	padding:0px 0 15px 40px;
}
#template-brand_submit #brand_price .well {
	background-color:#f5f6f6;
	height: 210px;
	border-radius: 5px;
	border: none;
	box-shadow: none;
	padding: 43px 19px 19px 19px;
}
#template-brand_submit #brand_price .well h3 {
	color:#55b8b8;
	font-size: 50px;
}
#template-brand_submit #brand_price .well p {
	color:#55b8b8;
}
#template-brand_submit #brand_price .well p strong {
	color:#bbbbbb;
}
#template-brand_submit #brand_price .well.recommended {
	background-color:#44a9a9;
	padding: 19px 19px 19px 19px;
}
#template-brand_submit #brand_price .well.recommended h3,
#template-brand_submit #brand_price .well.recommended p,
#template-brand_submit #brand_price .well.recommended p strong {
	color:#fff;
}
#template-brand_submit #brand_price .well.recommended .badge {
	border-radius: 50px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  color:#5ea5a7;
  padding: 5px 10px;
  text-transform: uppercase;
  margin-top:-66px;
}
#template-brand_submit #brand_price .companyLogo img {
	width:180px;
	height:auto;
	padding:10px;
}
#template-brand_submit #submit_form h2 {
	color:#45494e;
}
@media screen and (min-width: 780px) and (max-width: 998px) {
	#template-brand_submit #brand_price .well h3 {
	font-size: 35px;
	}
}
@media (min-width: 998px) {
	#template-brand_submit #brand_price .well h3 {
	font-size: 50px;
	}
}
@media (max-width: 780px) {
	#template-brand_submit .text-sm-center,
	#template-brand_submit #submit_form h2 {
		text-align:center;
	}
}

/*form*/
#template-brand_submit #submit_form .form-control,
#template-brand_submit #submit_form input[type=text],
#template-brand_submit #submit_form input[type=password] {
	border: none;
	height: 70px;
	font-size: 18px;
	background-color: #fff;
}
#template-brand_submit #submit_form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance:none;
	background: url('../images/pl-icon-arrow.svg') no-repeat 96% 30px;
}
#template-brand_submit #submit_form textarea.form-control {
	height: 100px;
}
#template-brand_submit #submit_form input[type=text]:focus,
#template-brand_submit #submit_form input[type=email]:focus,
#template-brand_submit #submit_form input[type=password]:focus,
#template-brand_submit #submit_form textarea.form-control:focus,
#template-brand_submit #submit_form select.form-control:focus {
	box-shadow:none;
}
#template-brand_submit #submit_form select {color:#999;}
#template-brand_submit #submit_form textarea.form-control {
	padding: 24px 12px;
}
#template-brand_submit #submit_form .form-group {
	border:1px solid #ddd;
	border-top:none;
	margin-bottom: 0;
}
#template-brand_submit #submit_form .form-Box .row {
	margin-right: 0;
    margin-left: 0;
}
#template-brand_submit #submit_form .form-Box .row:nth-child(1) {
	border-top:1px solid #ddd;
}
#template-brand_submit #submit_form .saveTxt {
	color:#55b8b8;
}
#template-brand_submit #submit_form .saveTxt p small {
	color:#bbbbbb;
	font-size:14px;
}
#template-brand_submit #submit_form .saveTxt p small a {
	color:#bbbbbb;
	text-decoration:underline;
}
#template-brand_submit #submit_form .payment_price {
	font-size: 24px;
	color:#55b8b8;
  font-weight: bold;
	padding: 10px 30px;
	display: inline-block;
}
#template-brand_submit #submit_form .form-Tag .tag-group {
	display:inline-block;
	margin-bottom:15px;
}
#template-brand_submit #submit_form .form-Tag input {
    position: absolute;
    left: -99999999999px;
}
#template-brand_submit #submit_form .form-Tag label.category {
	border-radius: 50px;
  border: solid 1px #dddddd;
  padding:14px 30px;
  font-weight:normal;
  font-size: 12px;
  color:#999;
  text-transform:uppercase;
}
#template-brand_submit #submit_form .form-Tag input:checked+label {
	border: solid 1px #55b8b8;
  color:#55b8b8;
}
#template-brand_submit #submit_form .form-Tag label.category:hover{cursor:pointer;}
@media (min-width: 780px) {
	#template-brand_submit #submit_form .form-group {
		border-right:none;
	}
	#template-brand_submit #submit_form .form-Box .row .form-group:nth-last-child(1) {
		border-right:1px solid #ddd;
	}
}
@media (max-width: 780px) {
	#template-brand_submit #submit_form .form-Box .row {
			margin: 0 20px;
	}
}

/*********************************************************
|
|  template-brand_thankyou.php
|
**********************************************************/
#template-brand_thankyou .mT {margin-top:60px;}
#template-brand_thankyou .msT {margin-top:30px;}
#template-brand_thankyou .mB {margin-bottom:60px;}
#template-brand_thankyou .msB {margin-bottom:30px;}
#template-brand_thankyou .pT {padding-top:60px;}
#template-brand_thankyou .pB {padding-bottom:60px;}

#template-brand_thankyou .btn.btn-default.btn-cta {
    background-image: linear-gradient(to right, #55b8b8, #89d0bb);
    color: white;
    text-transform:uppercase;
}
#template-brand_thankyou .btn.btn-default.btn-cta:hover,
#template-brand_thankyou .btn.btn-default.btn-cta:focus {
	background-color: #55b8b8;
	background-image: none;
}

#template-brand_thankyou .whats-next ol {
  list-style: none;
  counter-reset: miigle-counter;
  padding-left: 0;
}
#template-brand_thankyou .whats-next li {
  counter-increment: miigle-counter;
  margin: 0.25rem 0.25rem 1rem 0.25rem;
}
#template-brand_thankyou .whats-next li::before {
  content: counter(miigle-counter);
  background-image: linear-gradient(to right, #55b8b8, #89d0bb);
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2.4rem;
  color: white;
  text-align: center;
  margin-right: 1rem;
}

#template-brand_thankyou .card {
	position:relative;
	height:100px;
	display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 10px 20px 0 rgba(226, 191, 185, 0.5);
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}
#template-brand_thankyou .card p {
	font-size: 30px;
  color:#fff;
  z-index:100;
}
#template-brand_thankyou h1 {
	color: #55b8b8;
	font-size: 25px;
	font-weight:normal;
}
#template-brand_thankyou h2 {
	margin-bottom:30px;
	font-size: 25px;
  font-weight: normal;
  color: #45494e;
}

#template-brand_thankyou .carousel .carousel-control {
	background-image:none;
	width: 15px;
	font-size: 50px;
	color: #c1cace;
	text-shadow: none;
	opacity:1;
}
#template-brand_thankyou .carousel .carousel-control:hover,
#template-brand_thankyou .carousel .carousel-control:focus {
	color: #55b8b8;
}
#template-brand_thankyou .carousel .left.carousel-control {
	text-align: left;
}
#template-brand_thankyou .carousel .right.carousel-control {
	text-align: right;
}

@media (min-width: 780px) {
	#template-brand_thankyou .carousel .left.carousel-control {
		left: -3%;
	}
	#template-brand_thankyou .carousel .right.carousel-control {
		right: -3%;
	}
}

@media (min-width: 780px) {
	#template-brand_thankyou .flexRow {
		display: flex;
		align-items: center;
		justify-content: center;
  }
}
@media (max-width: 480px) {
	#template-brand_thankyou .card p {
		font-size: 24px;
	}
}
@media (max-width: 780px) {
	#template-brand_thankyou .text-sm-center {
		text-align:center;
	}
	#template-brand_thankyou .text-sm-center li {
		text-align:left;
	}
	#template-brand_thankyou .card {
		margin-bottom:20px;
	}
}


/*********************************************************
|
|  template-how_it_works.php
|
**********************************************************/

#template-how-it-works section.page-splash {
  background-image: url('../images/splash-how-it-works.png');
}
#template-how-it-works h2 {
  margin-bottom: 40px;
}
#template-how-it-works p {
  margin-bottom: 25px;
  font-size:18px;
}
#template-how-it-works section#content {
  padding-bottom: 75px;
}
#template-how-it-works section#steps {
  padding: 75px 0;
  background: white;
  color: #999;
  line-height: 1.67;
}
#template-how-it-works section#steps .step {
  padding: 75px 0;
  border-bottom: 1px solid #e7e7e7;
}
#template-how-it-works section#steps h3 {
  font-size: 20px;
  margin: 50px 0;
}
#template-how-it-works section#steps p {
  max-width: 530px;
  display: inline-block;
}
#template-how-it-works section#steps .step p {
  max-width: 300px;
  display: inline-block;
}
#template-how-it-works section#steps .step-circle {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#template-how-it-works section#steps .step-circle.text-danger {
  background: rgba(240, 83, 117, 0.2);
  border-color: #f05376;
}
#template-how-it-works section#steps .step-circle.text-primary {
  background: rgba(67, 185, 226, 0.2);
  border-color: #44bae2;
}
#template-how-it-works section#steps .step-circle.text-info {
  background: rgba(210, 83, 252, 0.2);
  border-color: #d354fc;
}
#template-how-it-works section#steps .support {
  margin-top: 60px;
}
#template-how-it-works section#steps .step .fa {
  font-size: 25px;
}
#template-how-it-works section#steps .join {
  margin-top: 75px;
}
#template-how-it-works section#steps .join h5 {
  font-weight: bold;
}

/*********************************************************
|
|  Contact, Terms, Privacy
|
**********************************************************/

#template-contact section.page-splash {
  background-image: url('../images/splash-contact.png');
}
#template-contact .well {
  background-color: white;
  padding: 50px 100px 40px 100px;
}
#template-contact .form-control {
  background: white;
}
#template-contact section.page-splash h1 {
  font-size: 50px;
}
#content-page p, ul li {
	font-size:18px;
}

body.terms,
body.privacy {
  font-weight: normal;
  line-height: 1.71;
}
body.terms section.page-splash,
body.privacy section.page-splash {
  background-image: url('../images/splash-terms.png');
}
body.terms section.page-splash h1,
body.privacy section.page-splash h1 {
  font-size: 50px;
}

@media (min-width: 1200px) {
  body.terms section.page-splash h1,
  body.privacy section.page-splash h1 {
    padding: 30px 0;
  }
}

/*********************************************************
|
|  template-profile_settings.php
|
**********************************************************/
#template-profile_settings h1 {
  margin: 60px 0;
  font-size: 30px;
  font-weight: normal;
}
#template-profile_settings .well {
  padding: 50px 60px;
}

/*********************************************************
|
|  template-marketplace.php
|
**********************************************************/
body.marketplace {
    padding-top: 0;
}
#template-marketplace {margin-bottom:-75px;}
#template-marketplace section#marketplace {
	background-color: #F8F8F8;
    background: url("../images/miigle-marketplace-bg.png") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   min-height:800px;
}
#template-marketplace section#marketplace .container {
        text-align: center;
}
#template-marketplace section#marketplace #logo {
    border-bottom: 2px solid #83CBB4;
    padding-bottom: 55px;
    margin-top: 210px;
    width: 80%;
}
#template-marketplace section#marketplace .tag-line {
    /*font-size: 25px;*/
    color: #83CBB4;
    line-height: 1.8;
    padding-top: 40px; 
    width: 85%;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: normal;
}
#template-marketplace section#marketplace span {
    font-weight: black;
    color: white;
}
#template-marketplace section#marketplace .btn-prime-one a {
    color: white;
    font-size: 16px;
    /*font-family: 'Roboto', sans-serif;*/
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 7px;
    margin-top: 45px;
    margin-bottom: 45px;
    background: #83CBB4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, #83CBB4, #55B8B8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #83CBB4, #55B8B8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #83CBB4, #55B8B8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #83CBB4, #55B8B8); /* Standard syntax */
    transition: box-shadow 0.3s ease, border 0.3s ease; 
}
#template-marketplace section#marketplace .btn-prime-one a:hover {
    color: white;
    font-size: 16px;
    /*font-family: 'Roboto', sans-serif;*/
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 7px;
    margin-top: 45px;
    margin-bottom: 45px;
    background: #83CBB4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, #83CBB4, #55B8B8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #83CBB4, #55B8B8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #83CBB4, #55B8B8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #83CBB4, #55B8B8); /* Standard syntax */
    transition: box-shadow 0.3s ease, border 0.3s ease;
}
#template-marketplace section#marketplace .btn-prime-two a {
    color: #83CBB4;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 7px;
    border: 1.5px solid #83CBB4;
    margin-top: 85px;
    margin-bottom: 45px;
    transition: 0.3s ease, border 0.3s ease;
}
#template-marketplace section#marketplace .btn-prime-two a:hover {
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 7px;
    margin-top: 45px;
    margin-bottom: 45px;
    background: #83CBB4;
    transition: 0.3s ease, border 0.3s ease;
 
}
#template-marketplace section#marketplace .btn {
    margin-top: 60px;
}

/*********************************************************
|
|  404.php
|
**********************************************************/
#template-404 #page404 {
	background-color: #F8F8F8;
	background: url("../images/404-page.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height:800px;
	padding-top: 70px;
}
#template-404 #page404 h3 {color: #2A414D;font-weight:bold;margin-bottom: 20px;}
#template-404 #page404 p {color: #2A414D;font-size: 18px;}
#template-404 #page404 a {color:#fff;font-weight:bold;}
#template-404 #page404 a:hover {text-decoration:none;opacity:0.6;}

@media (max-width: 780px) {
	#template-404 #page404 {
	background: url("../images/404-page_small.jpg") no-repeat center 50px fixed;
	min-height:450px;
	padding-top: 0;
	}
}
