/*----------------------------------*\
    Background
\*----------------------------------*/
.background {
	background-position: center center;
}

.background--cover {
	background-size: cover;
}

.background-gray-lighter {
	background-color: $color-gray-lighter;
	
	&--pattern {
		background-image: url("../images/miigle-pattern@2x.png");
		background-repeat: repeat;
		background-size: 15%;

		@media #{$large-and-down} {
			background-size: 20%;
		}

		@media #{$medium-and-down} {
			background-size: 20%;
		}

		@media #{$small-and-down} {
			background-size: 40%;
		}
	}
}

.background-green-gradient {
	background: linear-gradient(to right, $color-green, $color-green-lighter);
}