/*----------------------------------*\
    Text
\*----------------------------------*/
/*
	Align
*/
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/*
	Transform
*/
.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}

.text-transform-none {
	text-transform: none;
}


/*
	Weight
*/
.text-thin {
	font-weight: $thin;
}

.text-book {
	font-weight: $book;
}

.text-light {
	font-weight: $light;
}

.text-regular {
	font-weight: $normal;
}

.text-medium {
	font-weight: $medium;
}

.text-semi-bold {
	font-weight: $semi-bold;
}

.text-bold {
	font-weight: $bold;
}

.text-black {
	font-weight: $black;
}

/*
	Text Color
*/
.text-color-white {
	color: $color-white;
}

.text-color-gray {
	color: $color-gray;
}

.text-color-gray-darkest {
	color: $color-gray-darkest;
}

.text-color-green {
	color: $color-green;
}

.text-color-green-light {
	color: $color-green-light;
}

.text-color-red {
	color: $color-red;
}

/*
	Text Size
*/
.text-size-24 {
	font-size: 24px;
}

.text-size-20 {
	font-size: 20px;
}

.text-size-13 {
	font-size: 13px;
}

.text-size-12 {
	font-size: 12px;
}

.text-size-11 {
	font-size: 11px;
}

/*
	Text Style
*/
.text-italic {
	font-style: italic;
}