/*----------------------------------*\
    Global
\*----------------------------------*/
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	background: $color-white;
	color: $color-gray-2;
	font-weight: $normal;
	font-size: 14px;
	font-family: $font-primary;
	line-height: 1.4;
	padding-top: $header-height;

	&.notice-present {
		padding-top: $header-height + $notice-height;
	}
}

iframe {
	border: 0;
}

main {
	display: block;
	flex: 1;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 8px;
	padding-left: 30px;
}

dl {
	margin-top: 0;
	margin-bottom: 0;
}

dd {
	margin-left: 0;
}

blockquote {
	margin: 0;
	padding: 0;
}

p {
	margin-top: 0;
	margin-bottom: 8px;
}

sup {
	position: relative;
	top: -.5em;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0;
}

strong {
	font-weight: $bold;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	border: 0;
	vertical-align: middle;
}

a {
	color: $color-green;
	text-decoration: underline;
	
	&:hover, &:focus {
		text-decoration: none;
	}
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}