/*----------------------------------*\
    Form
\*----------------------------------*/
/* Form Row */
.form-row, .newsletter-form .form-row {
	margin-bottom: 20px;
}

.form-row--btn-right-inside, .newsletter-form .form-row--btn-right-inside {
	background-color: $color-white;
	border-radius: 50px;
	height: 70px;
	border: 1px solid $color-gray-dark;
	padding-right: 4px;
	@include transition(.2s ease-in-out);
	
	&.focused {
		border-color: $color-gray-darker;
	}
	
	.form-control {
		background-color: none;
		border: none;
		height: 68px;
	}
	
	.btn {
	
	}
}

/* Form Control */
.form-control, .newsletter-form .form-control {
	font-size: 18px;
	display: block;
	width: 100%;
	height: 70px;
	font-family: inherit;
	padding: 0 40px;
	outline: none;
	border: 1px solid $color-gray-dark;
	background-color: $color-white;
	border-radius: 50px;
	font-weight: $medium;
	@include transition(.2s ease-in-out);
	
	&:focus {
		border-color: $color-gray-darker;
	}
}
