.how-it-works-video {
	display: flex;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	align-items: center;
	justify-content: center;
	padding: 115px 20px;
	text-decoration: none;
	border-radius: 5px;
	@include transition(.2s ease-in-out);

	&:hover, &:focus {
		opacity: 0.85;
	}

	@media #{$small-and-down} {
		padding: 50px 20px;
	}

	.btn-play {
		background: none;
		border: none;
		font-size: inherit;
		opacity: 1;
		cursor: pointer;
		box-shadow: none;
		outline: 0;

		p {
			color: $color-white;
		}
	}
}

.how-it-works__item {
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
	font-size: $h4;
	font-weight: $book;
	
	@media #{$small-and-down} {
		text-align: center;
		margin-bottom: 70px;
	}
	
	&:nth-of-type(even) {
		flex-direction: row-reverse;
		text-align: right;
		
		@media #{$small-and-down} {
			text-align: center;
		}
	}
	
	p {
		@media #{$small-and-down} {
			margin-top: 20px;
		}
	}
	
	&--brands {
		justify-content: flex-start;
	}
}