.remodal-overlay {
	background: rgba($color-black, 0.85);
}

.remodal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.remodal__close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	color: $color-white;
	font-size: 24px;
	cursor: pointer;
	@include transition(.2s ease-in-out);
	
	&:hover {
		opacity: 0.8;
	}
	
	span {
		display: block;
		
		&:before {
			margin: 0;
			width: 20px;
			height: 20px;
			vertical-align: top;
		}
	}
}

.remodal {
	padding: 40px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.remodal__container {
	background: $color-white;
	padding: 20px;
	max-height: 100%;
	width: 100%;
	max-width: 1440px;
	overflow-y: auto;
}

.remodal__container--video {
	background: none;
	max-width: 100%;
	padding: 0;
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
	animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
	animation-name: remodal-overlay-closing-keyframes;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
	animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
	animation-name: remodal-closing-keyframes;
}

@keyframes remodal-opening-keyframes {
	from {
		transform: scale(1.05);
		
		opacity: 0;
	}
	to {
		transform: none;
		
		opacity: 1;
		
		filter: blur(0);
	}
}

@keyframes remodal-closing-keyframes {
	from {
		transform: scale(1);
		
		opacity: 1;
	}
	to {
		transform: scale(0.95);
		
		opacity: 0;
		
		filter: blur(0);
	}
}

@keyframes remodal-overlay-opening-keyframes {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes remodal-overlay-closing-keyframes {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
