.tabs-bar ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		flex: 1;
		text-align: center;
		height: 90px;
		line-height: 90px;
		
		
		&:first-child a {
			border-radius: 5px 0 0 5px;
		}
		
		&:last-child a {
			border-radius: 0 5px 5px 0;
			border-right: 1px solid;
		}
		
		&.active a, &:hover a, &:focus a {
			background: linear-gradient(to right, $color-green, $color-green-lighter);
			border-color: transparent;
			color: $color-white;
		}
		
		@media #{$small-and-down} {
			height: 50px;
			line-height: 50px;
		}
	}
	
	a {
		display: block;
		border: 1px solid $color-green-lightest;
		border-right: 0;
		font-size: $h5;
		font-weight: $bold;
		text-transform: uppercase;
		color: $color-green-lightest;
		text-decoration: none;
		
		@media #{$small-and-down} {
			font-size: $h6;
		}
	}
}

.tabs-panel {
	display: none;
	
	&.active {
		display: block;
	}
}