		</main>

		<footer id="footer">
			<div class="links">
				<div class="container">
					<div class="row">

						<div class="col-md-3">
							<a href="/">
								<img class="img-responsive" alt="Miigle" src="images/logo-white.svg">
							</a>
						</div>

						<div class="col-md-3">
							<h4>Company</h4>
							<ul class="list-unstyled">
								<li><a href="/about">About</a></li>
								<li><a href="/how-it-works">How it works</a></li>
								<li><a href="/blog">Blog</a></li>
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>

						<div class="col-md-3">
							<h4>Legal</h4>
							<ul class="list-unstyled">
								<li><a href="/privacy">Privacy Policy</a></li>
								<li><a href="/terms">Terms of Use</a></li>
							</ul>
						</div>

						<div class="col-md-3">
							<h4>Social</h4>
							<ul class="list-unstyled">
								<li><a href="https://www.facebook.com/miiglers/">Facebook</a></li>
								<li><a href="https://twitter.com/miiglers">Twitter</a></li>
								<li><a href="https://instagram.com/miiglers">Instagram</a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>

			<div class="copyright text-center">&copy; 2016 MIIGLE</div>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="scripts/landing.js""></script>
	</body>
</html>