.newsletter-form {
	/* Default Button */
	.btn {
		display: inline-block;
		overflow: hidden;
		margin: 0;
		padding: 0 15px;
		height: 40px;
		border: 2px solid transparent;
		border-radius: 50px;
		background: linear-gradient(to right, $color-green, $color-green-lighter);
		color: $color-white;
		vertical-align: middle;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-family: inherit;
		text-overflow: ellipsis;
		white-space: nowrap;
		letter-spacing: inherit;
		font-size: 14px;
		font-weight: normal;
		line-height: 36px;
		outline: 0;
		@include transition(.2s ease-in-out);
		cursor: pointer;
		-webkit-font-smoothing: inherit;

		/* Hover and Focus state */
		&:hover, &:focus {
			opacity: 0.8;
		}

		/* Active state */
		&:active {
			box-shadow: 0 1px 3px 1px rgba($color-black, .24);
		}
	}

	.form-row {
		margin-bottom: 20px;
	}

	.form-row--btn-right-inside {
		background-color: $color-white;
		border-radius: 30px;
		height: 50px;
		border: 1px solid $color-gray-dark;
		padding-right: 4px;
		@include transition(.2s ease-in-out);
		display: flex;
		align-items: center;

		&.focused {
			border-color: $color-gray-darker;
		}

		.form-control {
			background-color: none;
			border: none;
			height: 48px;
		}

		.btn {

		}
	}

	/* Form Control */
	.form-control {
		font-size: 18px;
		display: block;
		width: 100%;
		height: 70px;
		font-family: inherit;
		padding: 0 15px;
		outline: none;
		letter-spacing: 0;
		border: 1px solid $color-gray-dark;
		background-color: $color-white;
		border-radius: 50px;
		font-weight: $medium;
		@include transition(.2s ease-in-out);

		&:focus {
			border: none;
			box-shadow: none;
		}
	}
}